:root {
    /*--fundoPesquisa: #EBB39E;*/
    --fundoPesquisa: #e3dab8;
    --fundoMenu: #293263;
    --temaTabela: #4B0082;
    --fundoClaro: #fff;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

#divPrincipal {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#divMenu {
    width: 200px;
    height: 100%;
    background: var(--fundoMenu);
    text-align: center;
    padding: 0%;
    margin: 0%;
}

#divMenu button {
    width: 90%;
    height: 80px;
    margin-bottom: 2px;
    margin-top: 2px;
    border: none;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    font-size: 1.2em;
    background-color: var(--fundoMenu);
    color: white;
}

#divPesquisa {
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 0%;
    background-color: var(--fundoPesquisa);
}

#divOpcoes {
    width: 99.5%;
    height: 80px;
    border: solid 1px black;
    margin: 2px;
    padding: 2px;
}

#divResultado {
    width: 100%;
}

#tabResultado {
    width: 100%;
    margin: 1px;
    padding: 1px;
    background-color: var(--temaTabela);
}

#divCadastro{
    text-align: center;
}

#divCadastro form{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    text-align: initial;
    border-bottom: solid 1px;
    margin-bottom: 5px;
}

#divCadastro form button{
    color: var(--fundoClaro);
    background-color: grey;
}

#divCadastro label{
    width: 50%;
    padding: 2px;
    margin: 2px;
}

#divCadastro input{
    width: 50%;
    padding: 2px;
    margin: 2px;
}
#divCadastro button{
    width: 30%;
    height: 40px;
    margin: 0px;
    padding: 0px;
    color: var(--fundoClaro);
    background-color: var(--fundoMenu);
}

tr {
    background-color: var(--temaTabela);
    color: var(--fundoClaro);
    border: var(--temaTabela) 2px solid;
}

td {
    color: black;
    padding: 2px;
}

table td:nth-child(1) {
    min-width: 15%;
}

table td:nth-child(2) {
    min-width: 25%;
}

table td:nth-child(3) {
    min-width: 25%;
}

table td:nth-child(4) {
    min-width: 15%;
}

table td:nth-child(5) {
    min-width: 10%;
    text-align: center;
}

table td:nth-child(6) {
    min-width: 10%;
    text-align: center;
}


#secPesTodos {
    text-align: center;
    font-size: 1.2em;
}

#secCadastro {
    text-align: center;
    font-size: 1.2em;
}
ul{
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
li {
    list-style: none;
}

#secOpcao {
    text-align: center;
    font-size: 1.2em;

}

#divAutores{
    width: 100%;
    align-items: center;
    text-align: center;
}
#divAutores input{
    width: 50%;
}
